header {
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  z-index: 5;

  color: white;
  background: #3b85c2;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  margin: 0 auto;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.125rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.logo a {
  color: white;
}
