.category-page-title {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--dark-blue);
}
.category-content-lists {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  list-style: none;
  column-gap: 10px;
}

.category-content-lists li {
  width: 100%;
  height: 380px;
}

.category-content-lists li div {
  margin-top: 10px;
}
