*{
  list-style: none;
  box-sizing: border-box;

}

label{
  display: block;
  margin: 2px;
  text-align: left;
}

button{
  width: 65px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  cursor: pointer;
}
#postlistpage{
  overflow: auto;
}
#postlistheader{
  justify-content: space-around;
  display: flex;
  width: 680px;
  margin: 30px auto;
}


#paging{
  width: 100px;
  display: flex;
}

#sorting{
  width: 110px;
  display: flex;
}
#sortbutton{
  border: 1px solid cadetblue;
}

#postlist{
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

#postlist ul{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid tan;
}

#postlist ul:first-child{
  border-bottom: 2px solid tan;
}


#postlist li{
  margin: 2px;
  padding: 5px 0;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#postlist li[data-action='title']{
  width: 200px;
  cursor: pointer;
}

#postlist li[data-action='writer']{
  cursor: pointer;
}

#postlist .writer-on{
  background-color: bisque;
}

#pagebutton{
  /* border: 1px solid coral; */
  width: 600px;
  margin: 0 auto;
  position: relative;

}

.none-display{
  display: block;

  position: absolute;
  background-color: bisque;
  left: 40%;

}

#postbutton{
  /* background-color: aqua; */

}

#pagination-button{
  float: right;
  /* text-align: left; */
}

/* -- post-single -- */

#postsingle #header{
  width: 600px;
  margin: 10px auto;
}

.single-header{
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  padding: 10px 2px;
  width: 450px;
  border-bottom: 1px dotted #000;
}

.single-header span{
  display: block;
  width: 100px;
  text-align: center;
  
}

.single-content{
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  width: 450px;
  margin-bottom : 50px;

}

.single-content span{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  

}

.single-content span{
  width: 100px;
  text-align: center;
}

#contents{
  margin: 0 auto;
  width : 400px; height : 300px;
}

#bottombutton{
  width: 400px;
  margin: 20px auto;
  text-align: center;
  /* border: 1px solid chartreuse; */

}

#bottombutton button{
  margin: 10px 10px;
  padding: 5px;
  text-align: center;
}

