.loading-spinner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 5rem;
  height: 20rem;
  position: relative;

  &::before {
    content: '';
    background-color: transparent;
    position: absolute;
    bottom: 0;
  }

  &::after {
    content: ' ';
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: 6px solid $loading-color;
    border-color: $loading-color transparent $loading-color transparent;
    animation: loading-spinner 1.2s linear infinite;
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
