{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      // jsx 문법 해석하는 거임
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  }
}