.card_wrap {
    width:270px;
    height:315px;
}
.card_wrap img {
    object-fit: cover;
    width: 100%;
    min-height: 200px;
}

.card_title{
    font-size:1.125rem;
    font-weight: bold;
    margin: 4px 0;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: left; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    
}
.card_summary {
    font-size:0.75rem;
    height:35px;
    color:#999;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: left; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.card_media {
    font-size:0.75rem;
    color:#999;

}
.card_wrap:hover {
    cursor: pointer;
}