// Component : TabContentList

.tab__content__list {
  margin: 16px 0;

  &--subject {
    margin-left: 16px;

    display: flex;
    align-items: center;
    height: 48px;
    color: #497eb1;
    font-size: 1.9rem;
    font-family: "Nanum Myeongjo", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-weight: 700;
  }
}

.tab__content__list--innerlist {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4));
  row-gap: 3vh;
}
