<!doctype html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title>Zoom Frontend</title><meta name="viewport" content="width=device-width,initial-scale=1"><style>body {
            margin : 0px;
        }
        ul {
            padding : 0px;
            margin : 0px;
        }
        li {
            list-style: none;
        }
        p {
            margin : 0;
        }</style></head><body><div id="app"></div><script src="./js/bundle.js"></script></body></html>