// colors
$primary-blue: #1b52ed;
$secondary-blue: #547ea7;
$primary-gray: #7d7d7d;
$secondary-gray: #f3f3f3;
$main-background: #fff;
$primary-white: #fff;
$detail-header: #7f9ebd;
$line: #d9dbe9;
$shadow-color: #c9c9c9;
$loading-color: #2949da;

//header
$logo-height: 3rem;
$header-box-shadow: 0 0.25rem 0.25rem rgba(34, 34, 34, 0.15);

//margin
$margin-xs: 0.25rem;
$margin-s: 0.5rem;
$margin-m: 1rem;
$margin-l: 2rem;

//padding
$default-side-padding: 10rem;
$padding-xs: 0.25rem;
$padding-s: 0.5rem;
$padding-m: 1rem;
$padding-l: 2rem;

//border-radius
$border-radius-s: 0.75rem;
$border-radius-base: 1rem;

//font-weights
$title: 800;
$font-weight-base: 700;

//font-sizes
$font-size-xxs: 0.5rem;
$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-base: 1rem;
$font-size-m: 1.5rem;
$font-size-l: 1.85rem;

//z-index
$z-index-s: 5;
$z-index-m: 10;

//box-shadow
$boxShadow: 1px 2px 6px 1px $shadow-color;
