// @import "../../utils/style/mixin.scss";
// .app-button[name="write"] {}

.app-button {
  cursor: pointer;
  font-size: var(--page-font-size-small);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  padding: 8px 12px;

  &:hover {
    background-color: var(--color-gray-100);
  }
}
