<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %><%= env %></title>
</head>
<body>
    <nav id="navigation"></nav>
    <div id="app" />
</body>
</html>