@import 'src/components/Menu/variables';

.category_contents h4 {
  font-size: 30px;
  color: $color-sub-item-hover;
  margin-right: 130px;
}

.category_list {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 50%;
  margin: 0 auto;
}

.category_item {
  height: 500px;
}

.category_item a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: $color-sub-item;
  &:hover {
    color: $color-sub-item-hover;
  }
}

.category_thumb {
  display: block;
}

.category_title {
  display: inline-block;
  margin-top: 40px;
  color: $color-sub-item;
  width: 270px;
  height: 30px;
}

.category_text {
  display: inline-block;
  margin-top: 40px;
  width: 270px;
  height: 30px;
}
.category_author {
  display: inline-block;
  margin-top: 40px;
}
