a {
    text-decoration: none;
    color: black;
}
.hidden {
    display: none;
}

.loading{
    font-size: 5vw;
    text-align: center;
}
.error_section{
    font-size: 3vw;
    text-align: center;
}
.empty{
    font-size: 3vw;
    text-align: center;
}