<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <h2>Zum 사전과제</h2>
        <p>많이 부족하지만 좋은 피드백 부탁드립니다 :) </p>
        <a href="./posts">
            <button>게시판으로</button>
        </a>
    </main>
    
    <script src="../public/index_bundle.js"></script>
</body>
</html>